.contacto-button {
    background-color: #1a1a1a; 
    color: white; 
    font-family: sans-serif;  
    font-size: 24px; 
    font-weight: bold; 
    text-transform: uppercase; 
    padding: 10px 20px; 
    text-align: center; 
    width: fit-content; 
    margin: 20px auto; 
    border-radius: 4px; 
    
    text-shadow: 
        1px 0 0 red,   
        -1px 0 0 cyan, 
        0 1px 0 blue; 
    filter: blur(0.5px); 
}
.contacto-form {
    max-width: 600px; 
    margin: 20px auto; 
    font-family: sans-serif;
}

.contacto-form label {
    display: block; 
    margin-top: 10px;
    font-weight: bold;
}

.contacto-form input, .contacto-form select, .contacto-form textarea {
    width: 100%; 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contacto-form textarea {
    height: 150px; 
}

.enviar-button {
    background-color: rgb(255, 0, 0); 
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.enviar-button:hover {
    background-color: #cc5200; 
}
.info-box {
    max-width: 600px;
    margin: 20px auto;
    font-family: sans-serif;
    font-size: 14px;
    color: #333; 
    line-height: 1.5;
}

.info-box p {
    margin: 5px 0; 
}